{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
     Please wait for instructions
{% endblock %}

{% block content %}


        <div class="panel panel-success">
            <div class="panel-heading">
                <h4>
                    Please wait for instructions. 
                </h4>
                <p>
                    
                </p>
            </div></div>


{% endblock %}

{% block content_at_bottom_of_body %}

{% endblock %}