{% extends "global/BaseMotherhood.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Decision - Round {{subsession.round_number}}
{% endblock %}

{% block content %}

{% load otree_tags staticfiles %}




<div class="instructions well well-lg">



<h2><u>You</u></h2>
    <h3>You are <font color={{own_col}}> {{own_col}} {{own_animal}}</font>.</h3>
    <h3>Your have {{player.endow}} points</h2>

    <h3>You have good: {{player.inventory}}</h2>
    <h3>You can only consume good {{consump_good}}, earning {{session.config.u}} when you get it.</h3>




    <hr>

    <h2><u>Your counterparty</u></h2>
    <h3> Your counterparty is <font color={{cp_col}}> {{cp_col}} {{cp_animal}}</font>.</h3>
    <h3>Your counterparty has good: {{participant.vars.pairwise_matchings.cp_GoodInInv}}</h3>
    <h3>Your counterparty consumes: {{cp_consump_good}}, earning {{session.config.u}} when they get it.</h3>

    <hr>

    <h3>All goods have storage costs. This is how much you must pay to hold onto to the good between rounds.</h3>
    <ul>
        <li><h5>Good 1 has a storage cost of 1</li>
        <li><h5>Good 2 has a storage cost of 4</li>
        <li><h5>Good 3 has a storage cost of 9</li>
    </ul>

    

</div>

<!--     {% next_button %}<br><br><br> -->


<script type="text/javascript">
document.getElementById('id_subject_email').focus()
</script>

{% endblock %}

